<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Super Simple Sinatra Mail Teste</title>
  </head>
  <body>
    <h1>Super Simple Sinatra Mail Tester</h1>
    <%= yield %>
  </body>
</html>
